<div (click)="onComponentClick($event)"
     class="flex flex-col w-full"
>
  @if (isNumber()) {
    <p-input-number [(ngModel)]="minValue"
                    [pAutoFocus]="true"
                    [useGrouping]="false"
                    [fluid]="true"
                    showClear="true"
                    size="large"
                    id="inputMin"
                    mode="decimal"
                    placeholder="Начало"
    ></p-input-number>
    <p-input-number [(ngModel)]="maxValue"
                    [useGrouping]="false"
                    [fluid]="true"
                    showClear="true"
                    id="inputMax"
                    mode="decimal"
                    size="large"
                    placeholder="Конец"
    ></p-input-number>
  } @else {
    @if (formatHour()) {
      <p-date-picker [(ngModel)]="minValue"
                     [readonlyInput]="true"
                     [showIcon]="true"
                     [showSeconds]="true"
                     [showTime]="true"
                     [showClear]="true"
                     appendTo="all"
                     size="large"
                     [fluid]="true"
                     [hourFormat]="formatHour()!"
                     iconDisplay="input"
                     id="dateBegin"
                     inputId="calendar-24h"
                     placeholder="Начало"
      >
      </p-date-picker>
      <p-date-picker [(ngModel)]="maxValue"
                     [readonlyInput]="true"
                     [showIcon]="true"
                     [showSeconds]="true"
                     [showTime]="true"
                     [showClear]="true"
                     appendTo="body"
                     [fluid]="true"
                     [hourFormat]="formatHour()!"
                     iconDisplay="input"
                     id="dateEnd"
                     size="large"
                     inputId="calendar-24h"
                     placeholder="Конец"
      >
      </p-date-picker>
    } @else {
      <p-date-picker [(ngModel)]="minValue"
                     [readonlyInput]="true"
                     [showIcon]="true"
                     [showClear]="true"
                     [fluid]="true"
                     appendTo="body"
                     iconDisplay="input"
                     id="dateBegin"
                     size="large"
                     placeholder="Начало"
      >
      </p-date-picker>
      <p-date-picker [(ngModel)]="maxValue"
                     [readonlyInput]="true"
                     [showIcon]="true"
                     [showClear]="true"
                     [fluid]="true"
                     appendTo="body"
                     iconDisplay="input"
                     id="dateEnd"
                     size="large"
                     placeholder="Конец"
      >
      </p-date-picker>
    }
  }
</div>
