<p-card class="m-4"
        [hidden]="!showPanel()"
>
  <p-table #dt
           [dataKey]="dataKey()"
           [columns]="columns()"
           [value]="value"
           [sortMode]="sortMode()"
           [lazy]="true"
           [paginator]="showPaginator()"
           [rows]="20"
           [totalRecords]="totalRecords()"
           [loading]="loading()"
           (onLazyLoad)="loadData($event)"
           [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[15, 20, 25, { showAll: 'Все' }]"
           currentPageReportTemplate="Записи с {first} по {last} (Всего записей: {totalRecords})"
           id="tableData"
  >
    @if (showToolbar()) {
      <ng-template #caption>
        <!--                     [ngClass]="visibleComparePeriods() ? '!pt-1 !pb-0' : '!pt-1 !pb-1'"-->
        <p-toolbar class="border-none! p-0!"
        >
          <ng-template #start>
            <span class="text-xl font-bold">{{ title() }}</span>
          </ng-template>

          <ng-template #end>

            @if (showContentFilter()) {
              <p-iconfield class="search-container pr-2"
                           iconPosition="left"
              >
                <p-inputicon>
                  <i class="pi pi-search"></i>
                </p-inputicon>
                <input (input)="setFilterSearch($event)"
                       [ngModel]="searchValue()"
                       class="search-input"
                       pInputText
                       placeholder="Поиск..."
                       type="text"
                />
                @if (searchValue()) {
                  <p-inputicon (click)="clearSearch()"
                               class="clear-icon"
                               title="Очистить поиск"
                  >
                    <i class="pi pi-times"></i>
                  </p-inputicon>
                }
              </p-iconfield>
            }
            @if (showClearAllFilterButton()) {
              <p-button (click)="clearAllFilters()"
                        [disabled]="isNotFilters()"
                        class="pr-1"
                        icon="pi pi-filter-slash"
                        [text]="true"
                        [rounded]="true"
                        [severity]="isNotFilters() ? 'secondary' : 'primary'"
                        title="Сбросить фильтры"
              />
            }

            <!--            @if (isShowReloadDataButton()) {-->
            <!--              <p-button (click)="onClickButtonUpdateData()"-->
            <!--                        class="pr-1"-->
            <!--                        icon="pi pi-sync"-->
            <!--                        rounded-->
            <!--                        text-->
            <!--                        title="Обновить данные"-->
            <!--              />-->
            <!--            }-->

            <!--            @if (isShowChartButton()) {-->
            <!--              @if (!editMode()) {-->
            <!--                <p-button (onClick)="showChartView()"-->
            <!--                          class="pr-1"-->
            <!--                          text-->
            <!--                          rounded-->
            <!--                          icon="pi pi-chart-line"-->
            <!--                          title="График"-->
            <!--                />-->
            <!--              }-->
            <!--            }-->
            <!--            @if (isShowExportButton()) {-->
            <!--              <p-button (click)="dt.exportCSV()"-->
            <!--                        class="pr-1"-->
            <!--                        icon="pi pi-file-export"-->
            <!--                        text-->
            <!--                        rounded-->
            <!--                        title="Экспорт в CSV"-->
            <!--              />-->
            <!--            }-->
            <!--              @if (isShowColumnSelectorButton()) {-->
            <!--                <p-button #btn-->
            <!--                          (click)="columnSelect.show($event)"-->
            <!--                          icon="pi pi-list-check"-->
            <!--                          text-->
            <!--                          rounded-->
            <!--                          title="Выбор столбцов"-->
            <!--                />-->
            <!--                <p-popover #columnSelect>-->
            <!--                  <app-column-selector-list (columnsChange)="visibleColumns.set($event); columnSelect.hide()"-->
            <!--                                            [tableColumns]="tableColumns()"-->
            <!--                                            [columns]="columns()"-->
            <!--                  >-->
            <!--                  </app-column-selector-list>-->
            <!--                </p-popover>-->
            <!--              }-->
            <!--            (click)=""-->
            <p-button icon="pi pi-cog"
                      [text]="true"
                      [rounded]="true"
                      title="Настройки"
            />
          </ng-template>
        </p-toolbar>
      </ng-template>
    }

    <!--    Шаблон заголовка таблицы-->
    <ng-template #header let-columns>
      <!--      Строка с заголовками таблицы-->
      <tr>
        @for (col of columns; track col.field) {
          <th (click)="onHeaderClick(col, $event)"
              (contextmenu)="onContextMenu($event, col)"
              [class.p-datatable-column-sorted]="sortOrderFor(col.field) !== 0"
              [style.cursor]="isSorted() ? 'pointer' : 'default'"
              [style.user-select]="'none'"
              [style.padding-right]="multiSortMeta().length > 1 ? '24px' : '0.75rem'"
          >
            <!--            <div class="flex flex-row items-center justify-between">-->
            <!--              {{ col.caption }}-->

            <!--              <div class="flex flex-row items-center">-->
            <!--                @if (sortOrderFor(col.field) !== 0) {-->
            <!--                  @if (sortIndexFor(col.field) >= 0 && multiSortMeta().length > 1) {-->
            <!--                    <p-overlay-badge [value]="sortIndexFor(col.field) + 1"-->
            <!--                                     [hidden]="!(sortIndexFor(col.field) >= 0 && multiSortMeta().length > 1)"-->
            <!--                                     badgeSize="small"-->
            <!--                                     [style]="{'top': '2px', 'right': '-8px'}"-->
            <!--                    >-->
            <!--                      <i class="pi"-->
            <!--                         [class.pi-sort-amount-up-alt]="sortOrderFor(col.field) === 1"-->
            <!--                         [class.pi-sort-amount-down]="sortOrderFor(col.field) === -1"-->
            <!--                      ></i>-->
            <!--                    </p-overlay-badge>-->
            <!--                  } @else {-->
            <!--                    <i class="pi"-->
            <!--                       [class.pi-sort-amount-up-alt]="sortOrderFor(col.field) === 1"-->
            <!--                       [class.pi-sort-amount-down]="sortOrderFor(col.field) === -1"-->
            <!--                    ></i>-->
            <!--                  }-->
            <!--                }-->

            <!--                @if (showColumnFilter()) {-->
            <!--                  <app-header-column-filter-button (onClick)="onShowFilterMultiSelect($event, col.field)"-->
            <!--                                           [count]="getCountMultiFilterValue(col.field)"-->
            <!--                                           [field]="col.field"-->
            <!--                  >-->
            <!--                    &lt;!&ndash;                    @if (activeFilterField() === col.field) {&ndash;&gt;-->
            <!--                    &lt;!&ndash;                      <app-table-header-column-filter&ndash;&gt;-->
            <!--                    &lt;!&ndash;                        (columnFilters)="updateColumnFilters($event, col)"&ndash;&gt;-->
            <!--                    &lt;!&ndash;                        [column]="col"&ndash;&gt;-->
            <!--                    &lt;!&ndash;                        [currentFilter]="getCurrentFilter(col.field)"&ndash;&gt;-->
            <!--                    &lt;!&ndash;                        [options]="possibleValueFilters().get(col.field) ?? []"&ndash;&gt;-->
            <!--                    &lt;!&ndash;                      ></app-table-header-column-filter>&ndash;&gt;-->
            <!--                    &lt;!&ndash;                    }&ndash;&gt;-->
            <!--                  </app-header-column-filter-button>-->
            <!--                }-->
            <!--              </div>-->
            <!--            </div>-->
            <!-- 1. Нет сортировки и нет фильтра — заголовок по центру -->
            @if (sortOrderFor(col.field) === 0 && !showColumnFilter()) {
              <div class="flex flex-row items-center justify-center">
                {{ col.caption }}
              </div>
            }

            <!-- 2. Есть сортировка, фильтр не показан — заголовок слева, иконка сортировки справа -->
            @if (sortOrderFor(col.field) !== 0 && !showColumnFilter()) {
              <div class="flex flex-row items-center justify-between">
                <span>{{ col.caption }}</span>
                <ng-container *ngTemplateOutlet="sortIcon; context: { $implicit: col }"></ng-container>
              </div>
            }

            <!-- 3. Показан фильтр, сортировки нет — заголовок слева, кнопка фильтра справа -->
            @if (sortOrderFor(col.field) === 0 && showColumnFilter()) {
              <div class="flex flex-row items-center justify-between">
                <span>{{ col.caption }}</span>
                <ng-container *ngTemplateOutlet="columnFilter; context: { $implicit: col }"></ng-container>
              </div>
            }

            <!-- 4. Показан фильтр и есть сортировка — заголовок, иконка сортировки, кнопка фильтра справа -->
            @if (sortOrderFor(col.field) !== 0 && showColumnFilter()) {
              <div class="flex flex-row items-center justify-between">
                <div class="flex flex-row items-center gap-1">
                  <span>{{ col.caption }}</span>
                  <ng-container *ngTemplateOutlet="sortIcon; context: { $implicit: col }"></ng-container>
                </div>
                <ng-container *ngTemplateOutlet="columnFilter; context: { $implicit: col }"></ng-container>
              </div>
            }
          </th>
        }
      </tr>
      <!--      Строка с фильтрами-->
      @if (showRowFilters()) {
        <!--        <tr class="filter-field">-->
        <tr>
          <!--            @for (column of visibleColumns(); track column.field) {-->
          @for (column of columns; track 'vis_' + column.field) {
            <!--            <th [alignFrozen]="column?.alignFrozen ?? 'left'"-->
              <!--                [frozen]="column.isLocked!"-->
              <!--                pFrozenColumn-->
              <!--            >-->
            <th class="p-0!"
                [ngClass]="hasRowFilter()[column.field] ? 'bg-(--p-primary-50)!' : 'bg-(--p-surface-100)!'"
            >
              <p-column-filter [field]="column.field"
                               [showMenu]="false"
              >
                <ng-template #filter let-filterValue>
                  <!--                  [options]="possibleValueFilters().get(column.field) ?? []"-->
                  <app-table-row-filter (filterChange)="onFilterChange(column, $event)"
                                        [column]="column"
                                        [filterValue]="resetFilters() ? null : filterValue"
                                        [options]="[]"
                                        [reset]="resetFilters()"
                  ></app-table-row-filter>
                </ng-template>
              </p-column-filter>
            </th>
          }
        </tr>
      }
    </ng-template>

    <ng-template #sortIcon let-col>
      @if (sortIndexFor(col.field) >= 0 && multiSortMeta().length > 1) {
        <p-overlay-badge [value]="sortIndexFor(col.field) + 1"
                         badgeSize="small"
                         [style]="{'right': '-6px'}"
        >
          <i class="pi"
             [class.pi-sort-amount-up-alt]="sortOrderFor(col.field) === 1"
             [class.pi-sort-amount-down]="sortOrderFor(col.field) === -1"
          ></i>
        </p-overlay-badge>
      } @else {
        <i class="pi"
           [class.pi-sort-amount-up-alt]="sortOrderFor(col.field) === 1"
           [class.pi-sort-amount-down]="sortOrderFor(col.field) === -1"
        ></i>
      }
    </ng-template>

    <!--Шаблон фильтра в заголовке столбца-->
    <ng-template #columnFilter let-col>
      <app-header-column-filter-button (onClick)="onShowFilterMultiSelect($event, col.field)"
                                       [count]="(selectedFilterValues()[col.field]?.length) ?? 0"
                                       [field]="col.field"
      >
        @if (activeFilterField() === col.field) {
          <app-table-header-column-filter [column]="col"
                                          [currentFilter]="selectedFilterValues()[col.field] ?? []"
                                          [options]="possibleValues()[col.field] ?? []"
                                          [loading]="possibleLoading()[col.field] ?? false"
                                          (columnFilters)="onHeaderFilterApply(col, $event)"
          ></app-table-header-column-filter>
        }
      </app-header-column-filter-button>
    </ng-template>

    <ng-template #body let-rowData let-columns="columns">
      <tr>
        @for (col of columns; track col.field) {
          <td>
            @switch (col.type) {
              @case ('date') {
                {{ rowData[col.field] | date: 'dd.MM.yyyy' }}
              }
              @case ('datetime') {
                {{ rowData[col.field] | date: 'dd.MM.yyyy' }}
              }
              @case ('object') {
                {{ rowData[col.field][col.optionLabel] }}
              }
              @default {
                {{ rowData[col.field] }}
              }
            }
          </td>
        }
      </tr>
    </ng-template>
  </p-table>
</p-card>

@if (isSorted()) {
  <p-context-menu #cm />
}
