<p-card class="m-4"
        [hidden]="!showPanel()"
>
  <p-table #dt
           [columns]="columns()"
           [value]="value"
           [sortMode]="sortMode()"
           [lazy]="true"
           [paginator]="true"
           [rows]="10"
           [totalRecords]="totalRecords()"
           [loading]="loading()"
           (onLazyLoad)="loadData($event)"
           id="tableData"
  >
    @if (showToolbar()) {
      <ng-template #caption>
        <!--                     [ngClass]="visibleComparePeriods() ? '!pt-1 !pb-0' : '!pt-1 !pb-1'"-->
        <p-toolbar class="border-none! p-0!"
        >
          <ng-template #start>
            <span class="text-xl font-bold">{{ title() }}</span>
          </ng-template>

          <ng-template #end>

            @if (showContentFilter()) {
              <p-iconfield class="search-container pr-2"
                           iconPosition="left"
              >
                <p-inputicon>
                  <i class="pi pi-search"></i>
                </p-inputicon>
                <input (input)="setFilterSearch($event)"
                       [ngModel]="searchValue"
                       class="search-input"
                       pInputText
                       placeholder="Поиск..."
                       type="text"
                />
                @if (searchValue && searchValue.length > 0) {
                  <p-inputicon (click)="clearSearch()"
                               class="clear-icon"
                               title="Очистить поиск"
                  >
                    <i class="pi pi-times"></i>
                  </p-inputicon>
                }
              </p-iconfield>
            }
            <!--            @if (isShowClearAllFilterButton()) {-->
            <!--              <p-button (click)="clearAllFilters()"-->
            <!--                        [disabled]="!filteredData()"-->
            <!--                        class="pr-1"-->
            <!--                        icon="pi pi-filter-slash"-->
            <!--                        text-->
            <!--                        rounded-->
            <!--                        title="Сбросить фильтры"-->
            <!--              />-->
            <!--            }-->

            <!--            @if (isShowReloadDataButton()) {-->
            <!--              <p-button (click)="onClickButtonUpdateData()"-->
            <!--                        class="pr-1"-->
            <!--                        icon="pi pi-sync"-->
            <!--                        rounded-->
            <!--                        text-->
            <!--                        title="Обновить данные"-->
            <!--              />-->
            <!--            }-->

            <!--            @if (isShowChartButton()) {-->
            <!--              @if (!editMode()) {-->
            <!--                <p-button (onClick)="showChartView()"-->
            <!--                          class="pr-1"-->
            <!--                          text-->
            <!--                          rounded-->
            <!--                          icon="pi pi-chart-line"-->
            <!--                          title="График"-->
            <!--                />-->
            <!--              }-->
            <!--            }-->
            <!--            @if (isShowExportButton()) {-->
            <!--              <p-button (click)="dt.exportCSV()"-->
            <!--                        class="pr-1"-->
            <!--                        icon="pi pi-file-export"-->
            <!--                        text-->
            <!--                        rounded-->
            <!--                        title="Экспорт в CSV"-->
            <!--              />-->
            <!--            }-->
            <!--              @if (isShowColumnSelectorButton()) {-->
            <!--                <p-button #btn-->
            <!--                          (click)="columnSelect.show($event)"-->
            <!--                          icon="pi pi-list-check"-->
            <!--                          text-->
            <!--                          rounded-->
            <!--                          title="Выбор столбцов"-->
            <!--                />-->
            <!--                <p-popover #columnSelect>-->
            <!--                  <app-column-selector-list (columnsChange)="visibleColumns.set($event); columnSelect.hide()"-->
            <!--                                            [tableColumns]="tableColumns()"-->
            <!--                                            [columns]="columns()"-->
            <!--                  >-->
            <!--                  </app-column-selector-list>-->
            <!--                </p-popover>-->
            <!--              }-->
            <!--            (click)=""-->
            <p-button icon="pi pi-cog"
                      [text]="true"
                      [rounded]="true"
                      title="Настройки"
            />
          </ng-template>
        </p-toolbar>
      </ng-template>
    }

    <ng-template #header let-columns>
      <tr>
        @for (col of columns; track col.field) {
          <th (click)="onHeaderClick(col, $event)"
              (contextmenu)="onContextMenu($event, col)"
              [class.p-datatable-column-sorted]="sortOrderFor(col.field) !== 0"
              [style.cursor]="isSorted() ? 'pointer' : 'default'"
              [style.user-select]="'none'"
              [style.padding-right]="multiSortMeta().length > 1 ? '24px' : '0.75rem'"
          >
            <div class="flex flex-row items-center justify-between">
              {{ col.caption }}

              @if (sortOrderFor(col.field) !== 0) {
                @if (sortIndexFor(col.field) >= 0 && multiSortMeta().length > 1) {
                  <p-overlay-badge [value]="sortIndexFor(col.field) + 1"
                                   [hidden]="!(sortIndexFor(col.field) >= 0 && multiSortMeta().length > 1)"
                                   badgeSize="small"
                                   [style]="{'top': '2px', 'right': '-8px'}"
                  >
                    <i class="pi"
                       [class.pi-sort-amount-up-alt]="sortOrderFor(col.field) === 1"
                       [class.pi-sort-amount-down]="sortOrderFor(col.field) === -1"
                    ></i>
                  </p-overlay-badge>
                } @else {
                  <i class="pi"
                     [class.pi-sort-amount-up-alt]="sortOrderFor(col.field) === 1"
                     [class.pi-sort-amount-down]="sortOrderFor(col.field) === -1"
                  ></i>
                }
              }
            </div>
          </th>
        }
      </tr>
    </ng-template>

    <ng-template #body let-rowData let-columns="columns">
      <tr>
        @for (col of columns; track col.field) {
          <td>
            @if (col.type === 'date') {
              {{ rowData[col.field] | date: 'dd.MM.yyyy' }}
            } @else {
              {{ rowData[col.field] }}
            }
          </td>
        }
      </tr>
    </ng-template>
  </p-table>
</p-card>

@if (isSorted()) {
  <p-context-menu #cm />
}
